<tr id="cliente-{{ cliente.id }}">
    <th scope="row">{{ cliente.id }}</th>
    <td>{{ cliente.nome }}</td>
    <td>{{ cliente.email }}</td>
    <td>
        <button class="btn btn-secondary" 
            c-get="{{ url_for('cliente.detalhe_cliente', cliente_id=cliente.id) }}"
            c-target="#exibir-cliente"
            data-bs-toggle="modal" data-bs-target="#exampleModal">
                Ver
        </button>
        <!-- c-get busca a função detalhe_cliente na blueprint cliente (arquivo cliente.py) -->
        <!-- c-target envia o conteúdo para o modal com ID exibir cliente (arquivo index.html) -->


        <button class="btn btn-primary"
            c-get="{{ url_for('cliente.form_edit_cliente', cliente_id=cliente.id) }}"
            c-target="#form-cliente">
                Editar
        </button>
        <!-- c-get busca a função form_edit_cliente na blueprint cliente (arquivo cliente.py) -->
        <!-- c-target envia o conteúdo para a div com ID form-cliente (arquivo index.html) -->

        <button class="btn btn-danger"
            c-delete="{{ url_for('cliente.deletar_cliente', cliente_id=cliente.id) }}"
            c-remove-closest="tr"> <!-- Remove o item HTML mais próximo para cima, no caso, a tr (isso serve para excluir a linha da visualização logo após a exlusão daquele cliente) -->
                Deletar
        </button>
    </td>
</tr>